## 1.Strings Concatenation ##

In [6]:
name = " I am Mansi Chandra"
city = "I am from Bangalore"

info = name + ", " + city
print(info)

 I am Mansi Chandra, I am from Bangalore

In [9]:
name = "Mansi"
last_name = "Chandra"
city = "Bangalore"

print("I am " + name + " " + last_name + " " +  "and I am from " + city)

I am Mansi Chandra and I am from Bangalore

In [19]:
student = { 
    "name" : "Mansi Chandra",
     "age" : "21",
    "year of study" : 4
    }
info = "The student's name is " + student["name"] + ", she is from " + student["age"] + " and studied " +  str(student["year of study"]) + " years of study"
print(info)

The student's name is Mansi Chandra, she is from 21 and studied 4 years of study

### Format

In [30]:
student = { 
    "name" : "Mansi Chandra",
     "age" : "21",
    "year of study" : 4
    }
info = " The student's name is {}, she is {} years old and she is in {} year.".format(student["name"], student["age"], student["year of study"])
print(info)

 The student's name is Mansi Chandra, she is 21 years old and she is in 4 year.

In [36]:
student = {
    "first_name" : "Heena",
    "last_name" : "Kauser"
}
info = "Name {0} {1} and email id is {0}_{1}@gamil.com." .format(student["first_name"], student["last_name"])
print(info)

Name Heena Kauser and email id is Heena_Kauser@gamil.com.

In [42]:
my_details = {
    "first_name" : "Mansi",
    "last_name" : "Chandra"
}
info = "My name {0} {1} and email id is {0}_{1}@gmail.com." .format(student["first_name"], student["last_name"])
print(info)

My name Heena Kauser and email id is Heena_Kauser@gmail.com.

In [47]:
info = "The student's name is {name}, her age is {age} and she is in {year}th year". format(name="Mansi", age="21", year="4") 
print(info)

The student's name is Mansi, her age is 21 and she is in 4th year

### Functions
Functions are the block of code that only run when invoked

In [64]:
def my_function():
    print("Hello python!")

In [65]:
my_function()

Hello python!

In [68]:
def my_function(first_name, last_name):
    print("Student's name is {fname} {lname} and the email ID is {lname}_{fname}@gmail.com".format(fname=first_name, lname=last_name)

SyntaxError: unexpected EOF while parsing (1215168475.py, line 2)

In [1]:
my_function("Mansi", "Chandra")

NameError: name 'my_function' is not defined

### Using *orgs ###

In [6]:
def second_function(*kid):
    print("The younger child in the family is " + kid[2])

second_function("ravi", "akhil", "rahul")

The younger child in the family is rahul

In [12]:
fruits = ["apple", "mango", "orange", "raspberries", "water melon"]
def fruits_I_like(list_of_fruits):
    for x in list_of_fruits:
        print(x)
        
fruits_I_like(fruits)

apple
mango
orange
raspberries
water melon

In [14]:
def mulyiples_by_five(integer):
    return 5 * integer

print(multiples_by_five(21))
print(multiples_by_five(2))
print(multiples_by_five(1887))
print(multiples_by_five(3))
print(multiples_by_five(34))

105
10
9435
15
170

In [20]:
def division_by_six(integer):
    return 6 * integer

print(division_by_six(67))
print(division_by_six(78))

402
468

In [23]:
def subtraction_by_seven(integer):
    return integer - 7

print(subtraction_by_seven(56))
print(subtraction_by_seven(90))

49
83

##### Using Keywords in a function #

In [9]:
def another_function(child1, child2, child3):
    print("Youngest child is " + child1 + " and "  + child2)
    
another_function(child3 = "Ravi", child2 = "Ahkil", child1 = "Arya")

Youngest child is Arya and Ahkil

##### Using **rwargs

In [6]:
def fifth_function(**kid):
    print("The last name is " + kid["lname"])
    
fifth_function(fname = "Mansi", lname = "Chandra", mname = "Gowda")

The last name is Chandra