#### File Handling with Python
     -CREATE a file
     -READ a file
     -WRITE a file
     -APPEND the file
     -RENAME the file
     -DELETE the file

##### READ a new file

In [10]:
file = open("SAS.txt", "r")

for line in file:
    print(line)

In [12]:
file = open("SAS.ipynb", "r")
 
for line in file:
    print(line)

{

 "cells": [

  {

   "cell_type": "code",

   "execution_count": null,

   "id": "d4a0edc3",

   "metadata": {},

   "outputs": [],

   "source": [

    "Hi! This is Mansi Chandra\n",

    "hallo, Guten Morgen mein nam ist Mansi\n",

    "nett zu meet du\n"

   ]

  }

 ],

 "metadata": {

  "kernelspec": {

   "display_name": "Python 3 (ipykernel)",

   "language": "python",

   "name": "python3"

  },

  "language_info": {

   "codemirror_mode": {

    "name": "ipython",

    "version": 3

   },

   "file_extension": ".py",

   "mimetype": "text/x-python",

   "name": "python",

   "nbconvert_exporter": "python",

   "pygments_lexer": "ipython3",

   "version": "3.7.16"

  }

 },

 "nbformat": 4,

 "nbformat_minor": 5

}

In [19]:
file = open("SAP.txt", "r")

for line in file:
    print(line)

Hi! Guten Morgen



meine mutter is nett



mein vater nam ist Chandre Gowda



bruder is grob

In [20]:
with open("SAP.txt") as file:
    data = file.read()
    
print(data)

Hi! Guten Morgen

meine mutter is nett

mein vater nam ist Chandre Gowda

bruder is grob

### Creating a file

In [25]:
create_file = open("new_file_mansi.txt", "w")

In [28]:
create_file.write("Hi!")
create_file.write("\n")
create_file.write("I am in India")

13

In [11]:
create_file = open("new_file.txt", "w")

In [12]:
create_file.write("Hi!")
create_file.write("\n")
create_file.write("I am in India")
create_file.write("\n")
create_file.write("I am from karnataka")

19

In [13]:
create_file.close()

In [20]:
with open("new_file.txt") as file:
    data = file.read()
    
print(data)

Hi!
I am in India
I am from karnataka

In [26]:
gratitude_list = ["learning new things", "family", "friends"]

gratitude_file = open("gratitude.txt", "w")

for item in gratitude_list:
    gratitude_file.write("I am Grateful for {}".format(item))
    gratitude_file.write("\n")
    
gratidue_file.close()

In [56]:
gratitude_file = open("gratitude.txt", "a")
gratitude_file.write("I am also grateful to God.")
gratitude_file.close()

In [35]:
import os

In [36]:
os.rename("gratitude.txt", "updated_gratitude.txt")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'gratitude.txt' -> 'updated_gratitude.txt'

In [37]:
os.remove("new_file.txt")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'new_file.txt'

### Copying a file
 - CREATE a file "one.txt" and WRITE your content in it
 - CLOSE the file "one.txt"
 - CREATE another file "two,txt"
 - READ the contents of file "one.txt" and write those contents in file"two.txt
 - CLOSE both files

In [23]:
file1 = open("one.txt", "w")

In [24]:
file1.write("This is the first file \n")

24

In [25]:
file1.close()

In [26]:
file2 = open("two.txt", "w")

In [27]:
file1 = open("one.txt", "r")

In [28]:
for line in file1:
    file2.write(line)

In [29]:
file2.close()

In [38]:
file1.close()
os.remove("one.txt")

### PANDAS

### Importing Pandas

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [21]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd

In [24]:
name = ["Mansi", "Binay", "Anu", "Chandra", "Heena"]
degree = ["Masters","Masters", "Masters", "Masters", "Masters"]
score = [90, 89, 89, 90, 88]

#create a dictionary 
dictionary = {"name": name , "degree": degree, "score": score}

df = pd.DataFrame(dictionary)

In [25]:
df

      name   degree  score
0    Mansi  Masters     90
1    Binay  Masters     89
2      Anu  Masters     89
3  Chandra  Masters     90
4    Heena  Masters     88

In [26]:
df.head(3)

    name   degree  score
0  Mansi  Masters     90
1  Binay  Masters     89
2    Anu  Masters     89

In [27]:
df.tail(2)

      name   degree  score
3  Chandra  Masters     90
4    Heena  Masters     88

In [28]:
df.to_csv("pandas_data.csv")

## ASSIGNMENT
 -CREATE a file
 
 -READ a file

 -WRITE a file
 
 -APPEND the file
 
 -RENAME the file
 
 -DELETE the file

In [12]:
assignmentfile = open("Assignment-25/7/2023.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'Assignment-25/7/2023.txt'

### OPERATIONS

#### Head

In [29]:
df.head(2)

    name   degree  score
0  Mansi  Masters     90
1  Binay  Masters     89

# info

In [22]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
df.descibe()

AttributeError: 'DataFrame' object has no attribute 'descibe'

### Selection

#### Importing the data (csv)

In [32]:
pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

#### using iloc

In [34]:
df.iloc[0]

name        Mansi
degree    Masters
score          90
Name: 0, dtype: object

In [36]:
df.iloc[:, 0]

0      Mansi
1      Binay
2        Anu
3    Chandra
4      Heena
Name: name, dtype: object

In [38]:
df.iloc[:, 0:2]

      name   degree
0    Mansi  Masters
1    Binay  Masters
2      Anu  Masters
3  Chandra  Masters
4    Heena  Masters

In [41]:
df.iloc[1:3, 1:2]

    degree
1  Masters
2  Masters

In [45]:
df.loc[df["score"] >89]

      name   degree  score
0    Mansi  Masters     90
3  Chandra  Masters     90

### Scatter plot

In [47]:
df.plot.scatter(x = "Name", y = "score")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

#### Functions

In [48]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [50]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.3-cp37-cp37m-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 3.6 MB/s eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp37-cp37m-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 4.4 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from matplotlib) (23.1)
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
     -------------------------------------- 102.6/102.6 kB 3.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp37-cp37m-win_amd64.whl (54 kB)
     ---------------------------------------- 54.9/54.9 kB 2.8 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     -------------------------------------- 965.4/965.4 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (4.7.1)
Requirement already satisfied: six>=1.5 in c:\users\91984\anaconda3\envs\pythonclasses\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.5.3 pillow-9.5.0 pyparsing-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [51]:
import matplotlib.pyplot as plt

In [52]:
df.mean()

C:\Users\91984\anaconda3\envs\pythonclasses\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

score    89.2
dtype: float64

In [53]:
df.median()

C:\Users\91984\anaconda3\envs\pythonclasses\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

score    89.0
dtype: float64

In [54]:
df.std()

C:\Users\91984\anaconda3\envs\pythonclasses\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

score    0.83666
dtype: float64

In [55]:
df.max()

name        Mansi
degree    Masters
score          90
dtype: object

In [56]:
df.max().loc["name"]

'Mansi'

In [65]:
dummy_data1  = {
    "id" : ['1', '2', '3', '4', '5'],
    "Feature 1" : ['A', 'B', 'C', 'D', 'E'],
    "Feature 2" : ['F', 'G', 'H', 'I', 'J']
}
df2 = pd.DataFrame(dummy_data1, columns = ['id', 'Feature1', 'Feature2'])