# 1.Tuples ###

 A tuple is a collection of different data types which is ordered and unchangeable(immutable). Tuples are written with round brackets, (). Once a tuple is created, we cannot change its value.
 
 tuple():to create an empty tuple.
 
 count(): to count the number of a specified item in a tuple.
 
 index(): to find the index of a specified item in a tuple.

In [1]:
my_tuple=tuple()

In [3]:
print(my_tuple)

()

In [17]:
my_new_tuple=("1 7 9")

In [18]:
print(my_new_tuple)

1 7 9

In [19]:
len(my_new_tuple)

5

In [20]:
len(my_tuple)

0

In [21]:
my_new_tuple[0]

'1'

In [22]:
my_new_tuple [1]

' '

In [23]:
my_new_tuple[1]=95

TypeError: 'str' object does not support item assignment

In [25]:
my_new_tuple[3]=95

TypeError: 'str' object does not support item assignment

#### We cannot use add, insert, remove methods in a tuple because it is not (mutable). Unlike list, tuple has few methods ####

#### slicing tuples ###

In [28]:
my_new_tuple[0:3]

'1 7'

In [30]:
my_new_tuple[0:]

'1 7 9'

In [32]:
my_new_tuple[1:]

' 7 9'

In [33]:
my_new_tuple[:2]

'1 '

In [35]:
my_new_tuple[:2]

'1 '

In [36]:
tpl = ('item1', 'item2', 'item3', 'item4')

In [37]:
tpl[-4:]

('item1', 'item2', 'item3', 'item4')

In [39]:
tpl[-3:]

('item2', 'item3', 'item4')

In [41]:
tpl[-4:]

('item1', 'item2', 'item3', 'item4')

In [45]:
tpl[-2:]

('item3', 'item4')

In [46]:
tpl[-3:-1]

('item2', 'item3')

### Changing the name of Lists ###

In [47]:
my_list=list(tpl)

In [49]:
print(my_list)

['item1', 'item2', 'item3', 'item4']

### Check item in tuple ###

In [50]:
'item1' in tpl

True

### Loops ###

1.While
2.for

While condition:
    codes

In [54]:
count=0
while count<5:
    print("Mansi chandra")
    count=count+1

Mansi chandra
Mansi chandra
Mansi chandra
Mansi chandra
Mansi chandra

While condition:

code goes here

else:

code goes here

In [59]:
count=0
while count<10:
    print("Anything")
    count=count+1
else:
    print("Nothing")

Anything
Anything
Anything
Anything
Anything
Anything
Anything
Anything
Anything
Anything
Nothing

Break

In [61]:
count=0
while count<10:
    print("Anything")
    count=count+1
    break

Anything

In [ ]:
count=0
while count>5:
    print("Anything")
    count=count+1